@font-face {
    font-family: 'JetBrains';
    src: url('C:/Users/rober/Downloads/JetBrainsMono-1.0.3.zip/JetBrainsMono-1.0.3') format('ttf2'),
         url('C:/Users/rober/Downloads/JetBrainsMono-1.0.3.zip/JetBrainsMono-1.0.3') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains', sans-serif;
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 50px;
}

p {
    color: #555;
    font-size: 18px;
}
