body {
    font-family: 'Arial', sans-serif;
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 50px;
}

p {
    color: #555;
    font-size: 18px;
}

.org{
    margin-top: 50px;
    border-radius: 20%;
}
